.App {
  text-align: center;
}

html, body{
  background: none !important;
  background-color: none !important;
  background-image: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-container {
  padding: 10px;
  width: min(100%, 880px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 3fr));
  gap: 20px;
  justify-items: center;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 50px;
}

.image-container img {
  width: 270px;
  transition: 0.7s ease-in-out;
  box-shadow: -4px 10.4px 15px -5.6px #80808054;
  border-radius: 8px;
  cursor: pointer;
}

.App h1 {
  width: fit-content;
  margin: 19px auto;
}

.App p {
  padding: 0 15px 10px;
  border-bottom: 0.5px solid #1f69ffdb;
  width: fit-content;
  margin: auto;
  margin-bottom: 0;
}

.loader {
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

.loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 10px solid transparent;
  border-radius: 50px;
  border-bottom-color: white;
  animation: spin 2px linear infinite;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}

nav {
  box-shadow: -4px 10.4px 15px -5.6px #80808054;
  padding: 20px 0;
  position: sticky;
  width: 100%;
  z-index: 99;
  background-color: white;
  top: 0;
}

.slider img {
  border-radius: 6px;
  /* width: min(100%, 800px); */
  height: 400px;
}

.slider {
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50%;
  width: 100%;
  height: 100%;
  background: #000000c9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 999;
  gap: 30px;
  flex-direction: column;
}

.close svg {
  display: block;
  width: 50px;
  height: 50px;
  color: white;
}

.close{
  margin-left: auto;
  position: relative;
  right: 30px;
  cursor: pointer;
}